body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.disbook {
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  flex: 1;
  height: 3%;
}

.container {
  display: flex;
  flex: 1;
  height: 97%;
}

.leftBar {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #1e1f22;
  max-width: 50px;
  padding: 10px;
  gap: 10px;
}

.displayer {
  display: flex;
  flex: 2;
}

.conversations {
  display: flex;
  flex: 1;
}

.conversationsSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #2b2d31;
}

.conversationsTop {
  padding: 10px;
  height: 30px;
  box-shadow: 0 1px 1px black;
}

.conversationsMiddle {
  padding: 10px;
  flex: 2;
}

.directConversations {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.conversationsBottom {
  padding: 10px;
}

.conversationDisplayer {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #313338;
}

.conversationTop {
  padding: 10px;
  height: 30px;
  box-shadow: 0 1px 1px black;
}

.conversationMiddle {
  padding: 10px;
}
