@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.comment {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  font-family: Roboto, arial;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.rightTop {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rightTopMiddle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2b2d31;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
}

.userFullName {
  font-weight: bold;
}

.content {
  font-family: Roboto, arial;
  margin: 0;
}

.img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}
