.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid white;
  padding-top: 10px;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
  overflow: hidden auto;
}
