@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.like {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: Roboto, arial;
}

.commentDate {
  font-size: small;
}

.icon:hover {
  color: #0866ff;
  cursor: pointer;
}
