@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  background-color: #2b2d31;
  position: relative;
  align-items: center;
  overflow: hidden auto;
  font-family: Roboto, arial;
}

.feedTop {
  padding: 10px;
  width: 100%;
}

.feedMiddle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  width: 70%;
  height: 90%;
}
