#root {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  background-color: darkblue;
}

.container {
  display: flex;
}

.leftBar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.displayer {
  display: flex;
  flex: 2;
}

.conversationsSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.conversationDisplayer {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.conversationsTop {
  flex: 1;
}

.conversationsMiddle {
  flex: 2;
}

.conversationsBottom {
  flex: 1;
}
