#root {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  background-color: #222222;
}

.container {
  display: flex;
}

.leftBar {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #1e1f22;
}

.displayer {
  display: flex;
  flex: 2;
}

.conversationsSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #2b2d31;
}

.conversationDisplayer {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #313338;
}

.conversationsTop {
  flex: 1;
}

.conversationsMiddle {
  flex: 2;
}

.conversationsBottom {
  flex: 1;
}
